.errContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.button {
  background-color: hsl(224, 100%, 50%);
  padding: 0.8em 2.5em;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 7px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 1em;
}

.button:hover {
  background-color: hsl(224, 100%, 40%);
}

.ant-result-icon {
  margin-bottom: 1em;
}

.ant-result-title {
  margin-bottom: 1em;
  font-size: 30px;
  font-weight: 700;
}

.ant-result-subtitle {
  font-weight: bold;
  font-size: 22px;
}
