.logo {
  height: 50px;
  width: 150px;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

@media (max-width: 350px) {
  .logo {
    height: 50px;
    width: 105px;
  }
}

@media (max-width: 335px) {
  .ant-layout-has-sider > aside {
    display: none !important;
  }
}
