.logo {
  height: 50px;
  width: 150px;
}

@media (max-width: 350px) {
  .logo {
    height: 50px;
    width: 105px;
  }
}

@media (max-width: 335px) {
  .ant-layout-has-sider > aside {
    display: none !important;
  }
}
